.button {
    font-size: 25px;
    width: 99%;
    -unity-text-align: upper-left;
    color: rgb(255, 255, 255);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-image: resource('sprites/ui/button');
    padding-left: 24px;
    -unity-font: initial;
    -unity-font-style: bold;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
